
.app-layout {
    display: flex;

    min-height: 100vh;

    background: #F8FAF7;
}

.app-main {
    flex: 1;

    margin-left: 260px;

    min-height: 100vh;

    display: flex;

    flex-direction: column;
}

.app-content {
    flex: 1;

    padding: 40px;

    background: #F8FAF7;
}

@media (max-width: 991.98px) {

    .app-main {
        margin-left: 0;
    }

    .app-content {
        padding: 25px 20px;
    }
}
