@media (max-width:991px){

    .hero{

        min-height:auto;

        padding:140px 0 80px;

        text-align:center;

    }

    .hero-description{

        margin:auto;

    }

    .hero-buttons{

        justify-content:center;

    }

    .hero-image-wrapper{

        margin-top:50px;

    }

    .hero-image-container{

        max-width:420px;

    }

    .floating-card{

        transform:scale(.85);

    }

    .card-score{

        top:5%;
        bottom:auto;

        left:5%;

    }

    .card-calories{

        top:auto;
        bottom:20%;

        left:0;

    }

    .card-bmi{

        top:auto;
        bottom:18%;

        right:0;

    }

}

@media (max-width:576px){

    .hero{

        padding:120px 0 70px;

    }

    .hero-title{

        font-size:2.5rem;

    }

    .hero-description{

        font-size:16px;

    }

    .hero-buttons{

        flex-direction:column;

        gap:16px;

    }

    .btn-primary-custom,
    .btn-outline-custom{

        width:100%;

    }

    .hero-image-wrapper{

        margin-top:40px;

    }

    .hero-image-container{

        max-width:300px;

    }

    .hero-image{

        width:80%;

    }

    .floating-card{

        transform:scale(.72);

        padding:10px 14px;

        gap:8px;

    }

    /* Healthy Score disembunyikan */

    .card-score{

        display:none;

    }

    .card-calories{

        top:30px;
        bottom:auto;

        left:-5px;

    }

    .card-bmi{

        top:auto;
        bottom:20px;

        right:-5px;

    }

}

@media(max-width:991px){

.section-title{

    font-size:38px;

}

.feature-card{

    padding:35px;

}

.feature-large{

    min-height:auto;

}

}

@media(max-width:768px){

.benefit-card{

    flex-direction:column;

    text-align:center;

    align-items:center;

}

}

@media (max-width:992px){

    .cta-wrapper{

        padding:70px 40px;

    }

    .cta-wrapper h2{

        font-size:44px;

    }

}

@media (max-width:768px){

    .cta-section{

        padding:80px 0;

    }

    .cta-wrapper{

        padding:50px 25px;

        border-radius:28px;

    }

    .cta-wrapper h2{

        font-size:34px;

    }

    .cta-wrapper p{

        font-size:16px;

    }

    .btn-cta{

        width:100%;

        padding:16px 20px;

    }

}

@media(max-width:768px){

    .faq-section{

        padding:80px 0;

    }

    .accordion-button{

        font-size:16px;

        padding:20px;

    }

    .accordion-body{

        padding:0 20px 20px;

    }

}