.sidebar{

    width:280px;

    height:100vh;

    position:fixed;

    left:0;

    top:0;

    background:#fff;

    padding:30px;

    flex-direction:column;

    border-right:1px solid #eee;

}

.logo{

    font-size:28px;

    font-weight:700;

    margin-bottom:45px;

    color:#6BAF5B;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.sidebar a{

    text-decoration:none;

    color:#555;

    padding:15px 18px;

    border-radius:16px;

    transition:.25s;

}

.sidebar a:hover{

    background:#EDF8E8;

    color:#6BAF5B;

}

.sidebar i{

    margin-right:12px;

}

.offcanvas{

    width:280px;

}

.offcanvas-body{

    padding:30px;

}
