.app-topbar{

    height:72px;

    background:#fff;

    border-bottom:1px solid #e9ecef;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 24px;

    position:sticky;

    top:0;

    z-index:1000;

}

.avatar{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#6BAF5B;

    color:#fff;

    display:flex;

    justify-content:center;

    align-items:center;

}