<footer class="footer">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-5">
        <a href="index.html" class="footer-logo">
          <img
            src="assets/images/logoo.png"
            alt="DietMate logo"
            class="footer-brand-logo"
          />
          <span>DietMate</span>
        </a>
        <!-- <span class="footer-version">v0.1.0 (Development)</span> -->

        <p class="footer-description mt-1">
          Teman Setia Menuju Pola Makan Sehat. Bantu kamu membangun kebiasaan
          sehat lewat assessment personal, panduan gizi yang tepat, dan
          perubahan gaya hidup yang berkelanjutan.
        </p>
      </div>

      <div class="col-lg-2 col-md-4">
        <h6 class="footer-title">Perusahaan</h6>

        <ul class="footer-links">
          <li>
            <a href="about.html"> Tentang </a>
          </li>

          <li>
            <a href="faq.html"> FAQ </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4">
        <h6 class="footer-title">Produk</h6>

        <ul class="footer-links">
          <li>
            <a href="features.html"> Fitur </a>
          </li>

          <li>
            <a href="pages/assessment.html"> Mulai Assessment </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-4">
        <h6 class="footer-title">Terhubung dengan kami</h6>

        <div class="footer-social">
          <a href="https://www.instagram.com/">
            <i class="bi bi-instagram"></i>
          </a>

          <a href="https://x.com/">
            <i class="bi bi-twitter-x"></i>
          </a>

          <a href="https://github.com/Studio-Nibras/diet-mate">
            <i class="bi bi-github"></i>
          </a>
        </div>

        <p class="footer-contact mt-4">Mulai perjalanan sehatmu hari ini.</p>
      </div>
    </div>

    <hr class="footer-divider" />

    <div class="footer-bottom">
      <p>© 2026 DietMate. Seluruh hak cipta dilindungi.</p>

      <p>Dibuat dengan cinta untuk hidup yang lebih sehat.</p>
    </div>
  </div>
</footer>
